.pokemons-list__pokemons-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: calc(100% - 100px);
    text-align: center;
    margin: auto;
    max-width: 1650px;
}


.pokemons-list__controls-container {
    text-align: center;
    padding-top: 10px;
    max-width: 1620px;
    margin: auto;
    width: calc(100% - 100px);
}

@media screen and (max-width: 1750px) {
    .pokemons-list__pokemons-container {
        width: 100%
    }
}

@media screen and (max-width: 700px) {
    .pokemons-list__controls-container {
        width: calc(100% - 20px)
    }
}


.pokemons-list__page-controls-container {
    float: right;
}

.pokemons-list__filter-controls-container {
    float: left;
}

.pokemons-list__page-button {
    margin: 0 10px !important;
}

.pokemons-list__control{
    margin-right: 10px !important;
    min-width: 70px !important;
}
